.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  font-weight: inherit;
  font-size: 14px;
}

.App-link {
  color: #09d3ac;
}

.form-control {
  color: #465161;

}

.required {
  border-right: 6px solid orange;
}

